
<div id="app">
  <h1>Vue Test</h1>

  {{ message }}
</div>

<script src="<%= vue_js %>"></script>

<script>

const app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue! (wait 5 seconds ...)'
  },
  mounted: function() {
    setTimeout(() => {
      ego_post('hello_from_webview');
    }, 5000);
  }
});


// receives a command from
// 'index.js'
function ego_on_command(command, data) {
  if ('hello_from_extension' === command) {
    app.message = data.newMessage;
  }
}

// is invoked after page has been loaded
// (jQuery style)
function ego_on_loaded() {
  //TODO
}

</script>
